.back {
  width: 800;
  animation: animate 3s linear infinite alternate;
}

@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}
