.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}
.dummyScreen {
  width: 80vw;
  height: 80vh;
  background-color: white;
  margin: auto;
  position: relative;
}
.wrapperMainMenu {
  position: absolute;
  top: 1vh; // 5%
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80vw; // 100%
  height: 20vh; // 20%
  background-color: gray;
}
.wrapperMainMenu > .mainMenu {
  position: relative;
  padding: 1%; // 1%
  height: 16vh; // 100%
  width: 16vw; // 15%
}
.wrapperSubMenu {
  position: absolute;
  top: 32vh; // 40%
  left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw; // 30%
  height: 40vh; // 50%
  background-color: gray;
}
.subMenu {
  position: relative;
  padding: 2%; // 1%
  width: 6vw; // 30%
}