body {
  margin: 0;
}
.page {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(-45deg, grey, dimgrey);
  background-size: cover;
  background-position: center;
}
.left_button {
  width: 20vw;
  height: 100vh;
  left: 0;
  overflow: hidden;
  margin-right: 5vw;
  background: url(button_left.svg);
  background-position: right;
  background-size: 150% 150%;
  background-repeat: no-repeat;
}
.right_button {
  width: 20vw;
  height: 100vh;
  right: 0;
  overflow: hidden;
  margin-left: 5vw;
  background: url(button_right.svg);
  background-position: left;
  background-size: 150% 150%;
  background-repeat: no-repeat;
}
.screen {
  min-width: 480px;
  min-height: 272px;
  width: 80vw; /* 480px */
  height: 80vh; /* 272px */
  border-radius: 5rem;
  background-color: #e3fbe3;
  box-shadow: 4px 4px 10px black;
}
.screen > .back_stream_top {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.50;
  border-radius: 5rem;
  background-image: url(stream_top.svg);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: animate_stream 20s linear infinite alternate; /* cubic-bezier(.445, .05, .55, .95) easeInOutSine */
}
.screen > .back_stream_top > .back_stream_bottom {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.25;
  border-radius: 5rem;
  background-image: url(stream_bottom.svg);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: animate_stream 60s linear infinite alternate; /* cubic-bezier(.445, .05, .55, .95) easeInOutSine */
}
@keyframes animate_stream {
  0% { background-position: 0 0; }
  25% { background-position: 25% 0; }
  50% { background-position: 50% 0; }
  75% { background-position: 75% 0; }
  100% { background-position: 100% 0; }
}